

%li.main__container__box
  %h2.main__container__box__list
    %ul
      %li 
        =link_to rule_posts_path do
          利用ルール
      -# %li 
      -#   %a{href:"#"} 天気予報
      -if user_signed_in? 
        %li 
          = link_to "新規投稿", new_post_path, class: "header__right--btn"
        %li
          = current_user.nickname
        %li 
          = link_to "logout", destroy_user_session_path, method: :delete, class: "header__right--btn" 
      -else
        %li 
          = link_to "login", new_user_session_path, class: "header__right--btn" 
        %li
          = link_to "新規登録", new_user_registration_path, class: "header__right--btn" 
          
.main__container__content
  -if @posts.present?
    -@posts.each do |post|
      .main__container__content__solid
        .main__container__content__solid__box
          .main__container__content__solid__box__title
            =link_to post do
              =post.title
          .main__container__content__solid__box__boxa
            
            .main__container__content__solid__box__boxa__datatime
              投稿日時
              =post.created_at
            .main__container__content__solid__box__boxa__name
              投稿者
              =post.user.nickname
.main__container__footer
    
